* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: darkslategrey;
    height: 5vh;
}
.nv {
    text-decoration: none;
    color: black;
}
.nv:hover{
    color: gray;
}
.h{
    font-size: 30px;
}
video {
    height: 250px;
    width: 500px;
}